<header class="container-fluid header active" id="home">
    <div class="header-content">
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="../../assets/will.JPG" alt="">
            </div>
        </div>
        <div class="right-header">
            <h1 class="name">
                Bonjour je suis <span class="nom">Djoum Nguemtchue Wilfried.</span>
                Etudiant <span class="classe">Ingenieur 4 ISI</span> Institut Saint Jean.
            </h1>
            <p>
                Bonjour Monsieur MELOU je suis votre etudiant ingénieur présentement en quatrième année cycle ingénieur
                qui essaie toujours de donner le meilleur de lui même peut importe la situation car l'objectif principal
                est de réussir!
            </p>
        </div>
    </div>
</header>


<div class="controls">
    <div class="face">
        <div class="control face">
            <i class="fab fa-facebook-f"></i>
        </div>
    </div>
    <div class="wha">
        <div class="control wha">
            <i class="fab fa-whatsapp"></i>
        </div>
    </div>
    <div class="twitt">
        <div class="control twitt">
            <i class="fab fa-twitter"></i>
        </div>
    </div>
    <div class="link">
        <div class="control link">
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
    <div class="inst">
        <div class="control inst">
            <i class="fab fa-instagram"></i>
        </div>
    </div>
    <div class="gplus">
        <div class="control gplus">
            <i class="fab fa-google-plus"></i>
        </div>
    </div>
</div>